.sideBar {
    display: flex;
    flex: 1.5;
    flex-direction: column;
    border-right:  0.5px solid rgb(230, 227, 227);
    padding-left: var(--size-300);
    font-size: var(--fs-300);
}

.sideBar div[aria-label='logo'] {
    border-bottom: 0.5px solid rgb(230, 227, 227);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBar div[aria-label='color-modes'] button {
    width: var(--size-600);
    height: var(--size-600);
    margin-right: var(--size-300);
}

.link {
    display: flex;
    align-items: center;
    color: var(--clr-neutral-100);
    padding: 0.1rem .3rem;
    margin-bottom: .5rem;
}

.link span {
    margin-left: var(--size-300);
}

.link:focus,
.link:hover {
    background-color: hsla(253, 92%, 65%, 0.13);
}

@media (max-width: 53em) {
   .sideBar {
    flex: 3;
   }
  }

  @media (max-width: 30em) {
    .sideBar {
    font-size: var(--fs-200);
    }
   }